@import url('navbar.css');

:root {
  --primary-color: var(--documentation-primary-color) !important;
  --body-color: var(--documentation-body-color) !important;
}

.documentation {
  background-color: #000;
  color: #FFF;
}

.title {
  margin-top: 100px;
}

section {
  scroll-margin-top: 100px;
}

img {
  width: 100%;
}

.container-cards {
  margin-top: 60px;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
  gap: 60px 16px;
}

.card {
  display: flex !important;
  border: 1px solid var(--primary-color) !important;
  color: var(--text-default-color) !important;
  justify-content: center;
  background-color: var(--body-color) !important;
  padding: 60px 32px 32px;
  width: calc(50% - 8px) !important;
  min-width: 250px !important;
  height: 200px !important;
  position: relative;
  cursor: pointer;

  img {
    width: 96px;
    position: absolute;
    top: -48px;
    left: calc(50% - 44px);
    background: var(--body-color);
  }

  .title {
    margin: 0px !important;
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  &:hover {
    transform: scale(1.04);
    border: 2px solid var(--primary-color) !important;
  }
}

.container-people {
  margin-top: 32px;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
  gap: 16px 16px;
}

.person {
  width: calc(15% - 16px) !important;
  min-width: 150px !important;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
}

.nick-name {
  opacity: 0;
}

.person:hover {
  .nick-name {
    opacity: 1;
  }
}
