@import url('navbar.css');

:root {
  --light--primary-color: var(--documentation-primary-color);
  --light--text-color: var(--documentation-primary-color);
  --light--body-color: #fff;

  --dark--primary-color: var(--documentation-primary-color);
  --dark--text-color: var(--documentation-primary-color);
  --dark--body-color: #000;
}

.documentation {
  background-color: #000;
  color: #FFF;
}

.title {
  margin-top: 100px;
}

section {
  scroll-margin-top: 100px;
}

img {
  width: 100%;
}

.container-cards {
  margin-top: 60px;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
  gap: 60px 16px;
}

.card {
  display: flex !important;
  border: 1px solid var(--text-color) !important;
  color: var(--text-color) !important;
  justify-content: center;
  background-color: var(--body-color) !important;
  padding: 60px 32px 32px;
  width: calc(50% - 8px) !important;
  min-width: 250px !important;
  height: 200px !important;
  position: relative;
  cursor: pointer;

  .img-container {
    width: 96px;
    position: absolute;
    top: -48px;
    left: calc(50% - 44px);

    .img-background {
      inset: 0;
      background: var(--body-color);
      z-index: 0;
      border-radius: 50%;
      width: 96px;
      height: 96px;
    }

    img {
      position: absolute;
      inset: 0;
      z-index: 1;
    }
  }

  .title {
    margin: 0px !important;
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  &:hover {
    transform: scale(1.04);
    border: 2px solid var(--primary-color) !important;
    img {
      filter: none;
    }
  }
}

.container-people {
  margin-top: 32px;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
  gap: 16px 16px;
}

.person {
  width: calc(15% - 16px) !important;
  min-width: 150px !important;
  text-align: center;
  display: flex;
  flex-direction: column;

  .img {
    filter: brightness(0.8) saturate(0.6);
  }
}

.name {
  font-weight: bold;
}

.nick-name {
  opacity: 0;
}

.person:hover {
  color: var(--primary-color);
  .nick-name {
    opacity: 1;
  }
  .img {
    filter: none;
    transform: scale(1.05);
  }
}
