:root {
  --light--primary-color: var(--hub-primary-color);
  --light--text-color: var(--hub-primary-color);
  --light--body-color: #fff;

  --dark--primary-color: var(--hub-primary-color);
  --dark--text-color: var(--hub-primary-color);
  --dark--body-color: #000001;
}

body {
  .img {
    border-radius: 8px;
    box-shadow: 0px 0px 2px 0px var(--text-color);
  }
}