@import url('navbar.css');
@import url('aside.css');
@import url('footer.css');

:root {
  --pap-primary-color: #660099;
  --hub-primary-color: #0937D6;
  --documentation-primary-color: #ff4d00;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  scrollbar-width: 0px;
}

body {
  font-family: sans-serif;
  -ms-overflow-style: none !important;
  margin-top: 64px !important;
}

body,
ol,
li,
.card,
.img-background,
.h1,
.h4 {
  transition: all 0.3s ease-in-out !important;
}

body.light-mode {
  --primary-color: var(--light--primary-color);
  --text-color: var(--light--text-color);
  --body-color: var(--light--body-color);

  /* sobreescrita de variaveis do bootstrap */
  --bs-body-bg: var(--body-color);
  --bs-heading-color: var(--text-color);
  --bs-body-color: var(--text-color);
  --bs-border-color: var(--text-color);
}

body.dark-side {
  --primary-color: var(--dark--primary-color);
  --text-color: var(--dark--text-color);
  --body-color: var(--dark--body-color);

  /* sobreescrita de variaveis do bootstrap */
  --bs-body-bg: var(--body-color);
  --bs-heading-color: var(--text-color);
  --bs-body-color: var(--text-color);
  --bs-border-color: var(--text-color);
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

section {
  .title {
    font-size: 16px;
    font-weight: 500 !important;
    margin-top: 0px !important;
  }
  .content {
    font-size: 16px;
  }

  .h4 {
    position: sticky;
    top: 136px;
    z-index: 100;
    width: 100%;
    background: var(--body-color);
    padding: 0 0 16px 0;
  }
}

.title {
  margin-top: 16px !important;
  margin-bottom: 32px !important;
}

h1 {
  margin: 0px !important;
  line-height: 40px !important;
  position: sticky;
  top: 64px;
  background-color: var(--body-color);
  z-index: 1000;
  padding: 16px 0;
}

.list-unstyled {
  display: flex !important;
  flex-direction: column !important;
  gap: 8px !important;
}

section:not(:last-child) {
  border-bottom: 2px solid;
  padding-bottom: 3rem !important;
  margin-bottom: 3rem !important;
}

section:last-child {
  margin-bottom: 16px !important;
}

.border-none {
  border: none !important;
}

.code-container {
  margin: 12px 0;
  padding: 0 12px 24px;
  border-radius: var(--bs-border-radius) !important;
  background-color: rgb(var(--bs-dark-rgb)) !important;
}

.code {
  white-space: pre-line;
  font-size: 16px !important;
}

pre {
  margin-top: 0;
  padding-top: 0;
  padding: 12px !important;
  border-radius: var(--bs-border-radius) !important;
  overflow-x: auto !important;
  border: 1px solid #444 !important;
  white-space: pre-wrap !important;
}

pre code {
  display: block !important;
}

.no-gap {
  gap: 0px !important;
}

.h1, .h4 {
  width: calc(100% + var(--bs-gutter-x)) !important;
  margin-left: calc(var(--bs-gutter-x) * -0.5) !important;
  padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
}

@media (max-width: 576px) {
  .col-sm-0 {
    display: none;
  }

  .h1 {
    position: relative;
    top: 0px;
  }

  .h4 {
    padding: 16px 0 16px calc(var(--bs-gutter-x) * 0.5) !important;
    top: 64px !important;
  }
}

@media (max-width: 768px) {
  .col-sm-0 {
    display: none;
  }
}

@media (max-width: 991px) {
  .col-md-0 {
    display: none;
  }
}

.btn-outline {
  --bs-btn-color: var(--text-color) !important;
  --bs-btn-border-color: var(--text-color) !important;
  --bs-btn-hover-bg: var(--primary-color) !important;
  --bs-btn-hover-color: white !important;
  --bs-btn-hover-border-color: var(--primary-color) !important;
  --bs-btn-active-bg: var(--text-color) !important;
  --bs-btn-active-border-color: var(--text-color) !important;
  --bs-btn-disabled-color: var(--text-color) !important;
  --bs-btn-disabled-border-color: var(--text-color) !important;
}

.list-group-item::before,
.table-button-colapse-extra-content {
  width: 40px;
}

.table-button-colapse-extra-content  {
  padding: 6px 0 !important;
  position: absolute;
  bottom: 0.5rem;
}

.table-colapse-extra-content {
  position: relative;
  left: 40px;
}

.table-content {
  width: calc(100% - 40px);
}
