@import url('navbar.css');

body {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

.section {
  .title {
    font-size: 24px;
  }
  .content {
    font-size: 16px;
    .list {

    }
    .list-item {

    }
  }
}
