@import url('navbar.css');

:root {
  --pap-primary-color: #660099;
  --hub-primary-color: #0937D6;
  --documentation-primary-color: #F86E32;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  scrollbar-width: 0px;
}

body {
  font-family: sans-serif;
  -ms-overflow-style: none !important;
}

body.light-mode {
  --primary-color: var(--light--primary-color);
  --text-color: var(--light--text-color);
  --body-color: var(--light--body-color);

  /* sobreescrita de variaveis do bootstrap */
  --bs-body-bg: var(--body-color);
  --bs-heading-color: var(--text-color);
  --bs-body-color: var(--text-color);
  --bs-border-color: var(--text-color);
}

body.dark-side {
  --primary-color: var(--dark--primary-color);
  --text-color: var(--dark--text-color);
  --body-color: var(--dark--body-color);

  /* sobreescrita de variaveis do bootstrap */
  --bs-body-bg: var(--body-color);
  --bs-heading-color: var(--text-color);
  --bs-body-color: var(--text-color);
  --bs-border-color: var(--text-color);
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

.section {
  .title {
    font-size: 24px;
  }
  .content {
    font-size: 16px;
  }
}

section {
  scroll-margin-top: 100px;
}

.title {
  margin-top: 100px !important;
  margin-bottom: 32px !important;
}

.list-unstyled {
  display: flex !important;
  flex-direction: column !important;
  gap: 8px !important;
}

section:not(:last-child) {
  border-bottom: 2px solid;
  margin-bottom: 6rem !important;
}

.border-none {
  border: none !important;
}

.bd-sidebar {
  position: sticky;
  top: 72px;
  border-right: solid 1px !important;
  min-height: calc(100dvh - 80px);
  overflow: scroll;
}

.bd-links-heading {
  font-size: 20px !important;
}

.bd-links-link {
  border-radius: var(--bs-border-radius);
  padding: 8px;

  a {
    color: var(--bs-body-color);
    text-decoration: none;
    font-size: 14px !important;
    margin: 8px 0px;
  }

  &:hover {
    background-color: var(--primary-color);
    padding: 8px 4px 8px 12px;

    a {
      color: white;
      font-size: 16px !important;
    }
  }
}

.code-container {
  margin: 12px 0;
  padding: 0 12px 24px;
  border-radius: var(--bs-border-radius) !important;
  background-color: rgb(var(--bs-dark-rgb)) !important;
}

.code {
  white-space: pre-line;
  font-size: 16px !important;
}

pre {
  margin-top: 0;
  padding-top: 0;
  padding: 12px !important;
  border-radius: var(--bs-border-radius) !important;
  overflow-x: auto !important;
  border: 1px solid #444 !important;
  white-space: pre-wrap !important;
}

pre code {
  display: block !important;
}

.no-gap {
  gap: 0px !important;
}

@media (max-width: 768px) {
  .col-sm-0 {
    display: none;
  }
}

@media (max-width: 992px) {
  .col-md-0 {
    display: none;
  }
}

.btn-outline {
  --bs-btn-color: var(--text-color) !important;
  --bs-btn-border-color: var(--text-color) !important;
  --bs-btn-hover-bg: var(--primary-color) !important;
  --bs-btn-hover-color: white !important;
  --bs-btn-hover-border-color: var(--primary-color) !important;
  --bs-btn-active-bg: var(--text-color) !important;
  --bs-btn-active-border-color: var(--text-color) !important;
  --bs-btn-disabled-color: var(--text-color) !important;
  --bs-btn-disabled-border-color: var(--text-color) !important;
}

.list-group-item::before,
.table-button-colapse-extra-content {
  width: 40px;
}
.table-button-colapse-extra-content  {
  padding: 6px 0 !important;
}

.table-content {
  width: calc(100% - 40px);
}