@import url('navbar.css');

:root {
  /* variáveis locais */
  --documentation-primary-color: #F86E32;
  --documentation-body-color: #140c08;
  --hub-primary-color: #0937D6;
  --hub-body-color: #030E33;
  --pap-primary-color: #660099;
  --pap-body-color: #200030;

  --primary-color: var(--documentation-primary-color) !important;
  --body-color: var(--documentation-body-color) !important;

  /* sobreescrita de variaveis do bootstrap */
  --bs-body-bg: var(--body-color) !important;
  --bs-heading-color: var(--primary-color) !important;
  --bs-body-color: var(--primary-color) !important;
  --bs-border-color: var(--primary-color) !important;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  scrollbar-width: 0px;
}

body {
  font-family: sans-serif;
  -ms-overflow-style: none !important;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

.section {
  .title {
    font-size: 24px;
  }
  .content {
    font-size: 16px;
  }
}

#agreements,
#about,
#goals,
#get-started,
#instalation,
#execution,
#new-client {
  scroll-margin-top: 100px;
}

.title {
  margin-top: 100px !important;
  margin-bottom: 32px !important;
}

.list-unstyled {
  display: flex !important;
  flex-direction: column !important;
  gap: 8px !important;
}

section:not(:last-child) {
  border-bottom: 2px solid;
  margin-bottom: 6rem !important;
}

.border-none {
  border: none !important;
}

.bd-sidebar {
  position: sticky;
  top: 72px;
  border-right: solid 1px !important;
}

.bd-links-heading {
  font-size: 20px !important;
}

.bd-links-link {
  color: var(--bs-body-color);
  text-decoration: none;
  padding: 4px 8px;
  border-radius: var(--bs-border-radius);
  margin: 8px 0px;
  font-size: 18px !important;

  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}

.code-container {
  margin: 12px 0;
  padding: 0 12px 24px;
  border-radius: var(--bs-border-radius) !important;
  background-color: rgb(var(--bs-dark-rgb)) !important;
}

.code {
  white-space: pre-line;
  font-size: 16px !important;
}

pre {
  margin-top: 0;
  padding-top: 0;
  padding: 12px !important;
  border-radius: var(--bs-border-radius) !important;
  overflow-x: auto !important;
  border: 1px solid #444 !important;
  white-space: pre-wrap !important;
}

pre code {
  display: block !important;
}
