.header {
  font-family: sans-serif;
  padding: 0px !important;
  background-color: var(--primary-color) !important;
  font-weight: 700;
  position: fixed !important;
  top: 0px;
  width: 100%;
  z-index: 1000;
  height: 64px !important;
}

.navbar-brand {
  color: #FFF !important
}

.logo {
  width: 40px;
}

.nav-link {
  padding: 20px 12px !important;
  color: #FFF !important
}

.nav-link:hover {
  background-color: #FFF !important;
  color: var(--primary-color) !important;
}

.hub-header {
  .logo {
    width: 60px;
  }
}

.pap-header {
  .logo {
    width: 40px;
  }
}

.front-header,
.pap-header,
.hub-header {
  .header {
    height: 64px !important;
  }

  .pap:hover {
    background-color: var(--pap-primary-color) !important;
    color: #FFF !important
  }

  .hub:hover {
    background-color: var(--hub-primary-color) !important;
    color: #FFF !important
  }

  .front:hover {
    background-color: var(--documentation-primary-color) !important;
    color: #FFF !important
  }
}

#btn-change-scheme {
  margin-left: auto;
  background-color: var(--body-color);
  border: none;
  width: 40px;
  height: 26px;
  border-radius: 8px;
  transition: all 1s linear;
}

#btn-change-scheme:hover {
  transform: scale(1.1);
}

#btn-change-scheme::before {
  display: block;
  width: 20px;
  height: 20px;
}


.dark-side {
  #btn-change-scheme::before {
    content: '🌙';
    position: relative;
    left: -4px;
    top: -2px;
  }
}

.light-mode {
  #btn-change-scheme::before {
    content: '☀️';
    position: relative;
    right: -12px;
    top: -1px;
  }
}

@media (max-width: 991px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px !important;
    margin-bottom: 8px !important;
    height: 100dvh;
  }

  .nav-item {
    width: 100% !important;
    max-width: 720px !important;
  }

  #navbar-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--primary-color);
    z-index: 1000;
    border-top: 1px solid;
  }
  
  #btn-change-scheme {
    position: absolute;
    right: 20px;
    top: calc(100dvh - 110px);
  }

  .nav-link {
    border-radius: 10px !important;
  }
}

@media (max-width: 768px) {
  .nav-item {
    max-width: 540px !important;
  }
}
