.header {
  font-family: sans-serif;
  padding: 0px !important;
  background-color: var(--primary-color) !important;
  font-weight: 700;
  position: fixed !important;
  top: 0px;
  width: 100%;
  z-index: 1000;
  height: 64px !important;
}

.navbar-brand {
  color: #FFF !important
}

.logo {
  width: 40px;
}

.nav-link {
  padding: 20px 12px !important;
  color: #FFF !important
}

.nav-link:hover {
  background-color: #FFF !important;
  color: var(--primary-color) !important;
}

.hub-header {
  .logo {
    width: 60px;
  }
}

.pap-header {
  .logo {
    width: 40px;
  }
}

.front-header,
.pap-header,
.hub-header {
  .header {
    height: 64px !important;
  }

  .pap:hover {
    background-color: var(--pap-primary-color) !important;
    color: #FFF !important
  }

  .hub:hover {
    background-color: var(--hub-primary-color) !important;
    color: #FFF !important
  }

  .front:hover {
    background-color: var(--documentation-primary-color) !important;
    color: #FFF !important
  }
}

#btn-change-scheme {
  margin-left: auto;
  background-color: var(--body-color);
  border: none;
  width: 40px;
  height: 26px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: all .2s ease;
}

#btn-change-scheme::before {
  content: '☀️';
  position: absolute;
  top: 0px;
  left: 4px;
  transition: transform 0.4s ease .1s, left 0.4s ease .1s;
  font-size: 18px;
}

.light-mode #btn-change-scheme::before {
  content: '☀️';
  transform: translateX(12px);
}

.dark-side #btn-change-scheme::before {
  content: '🌙';
  transform: translateX(0);
  font-size: 16px;
  top: 2px;
}

@media (max-width: 991px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px !important;
    margin-bottom: 8px !important;
    height: 100dvh;
  }

  .nav-item {
    width: 100% !important;
    max-width: 720px !important;
  }

  #navbar-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--primary-color);
    z-index: 1000;
    border-top: 1px solid;
  }
  
  #btn-change-scheme {
    position: absolute;
    right: 20px;
    top: calc(100dvh - 110px);
  }

  .nav-link {
    border-radius: 10px !important;
  }
}

@media (max-width: 768px) {
  .nav-item {
    max-width: 540px !important;
  }
}
