:root {
  --light--primary-color: var(--pap-primary-color);
  --light--text-color: var(--pap-primary-color);
  --light--body-color: #fff;

  --dark--primary-color: var(--pap-primary-color);
  --dark--text-color: #fff;
  --dark--body-color: #010001;
}

body {
  .img-pap {
    border-radius: 8px;
    box-shadow: 0px 0px 2px 0px var(--primary-color);
  }
}
