:root {
  --light--primary-color: var(--pap-primary-color);
  --light--text-color: var(--pap-primary-color);
  --light--body-color: #fff;

  --dark--primary-color: var(--pap-primary-color);
  --dark--text-color: var(--pap-primary-color);
  --dark--body-color: #010001;
}
