:root {
  --light--primary-color: var(--pap-primary-color);
  --light--text-color: var(--pap-primary-color);
  --light--body-color: #fff;

  --dark--primary-color: var(--pap-primary-color);
  --dark--text-color: #f0daff;
  --dark--body-color: #030005;
}

.title {
  margin-top: 100px !important;
}