<!-- footer.html -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 footer-item">
        <a class="img" href="https://www.before.com.br/">
          <img src="assets/images/before-footer-logo.png" alt="icone-before" class="logo icone-before">
        </a>
        <a class="link" href="https://www.before.com.br/">
          saiba mais no website
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 footer-item">
        <a class="img" href="https://hubdevendas.com/">
          <img src="assets/images/hub-footer-logo.png" alt="icone-hub" class="logo icone-hub">
        </a>
        <a class="link" href="https://hubdevendas.com/">
          saiba mais no website
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 footer-item">
        <a class="img" href="https://www.before.com.br/produtos/pap-mobile">
          <img src="assets/images/pap-footer-logo.png" alt="icone-pap" class="logo icone-pap">
        </a>
        <a class="link" href="https://www.before.com.br/produtos/pap-mobile">
          saiba mais no website
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 footer-item">
        <a class="img" href="https://robertocostabefore.github.io/front-documentation">
          <img src="assets/images/doc-footer-logo.png" alt="icone-doc" class="logo icone-doc">
        </a>
      </div>
    </div>
    <button id="footer-btn-change-scheme"></button>
  </div>
</div>